#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.flashed {
  animation: flashFade 0.5s ease-out;
}

@keyframes flashFade {
  0% { background-color: #ed96f2; }
  100% { background-color: #1a1a1a; }
}



.home-title{
  color:#f4b4ffaa
}

.task-form{
  display: flex;
  align-items: center;
}


.to-do-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

body {
  background: linear-gradient(39deg,#05feed,#0b005c,#e2059c);
  background-size: 180% 180%;
  background-position: 0% 50%; /* Start position */
}

.gradient-forward {
  animation: gradient-forward 1s ease forwards;
}

.gradient-backward {
  animation: gradient-backward 1s ease forwards;
}

@keyframes gradient-forward {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

@keyframes gradient-backward {
  0%   { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}




